<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079773130590-45lpguofhs9agcbif26k9gohq305vvj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079773130590-45lpguofhs9agcbif26k9gohq305vvj6</string>
	<key>API_KEY</key>
	<string>AIzaSyDXp7ZAc3IFvEhQ4DbWk2gnsuVZt1CYfgw</string>
	<key>GCM_SENDER_ID</key>
	<string>1079773130590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatgptApp</string>
	<key>PROJECT_ID</key>
	<string>chatgptapp-e86e5</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgptapp-e86e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079773130590:ios:df7732ba53baa0ef6769cf</string>
</dict>
</plist>